@model VieTrails_Web.Models.User


@{
    ViewData["Title"] = "Login";
}

<form method="post" style="max-width: 330px; margin: auto;">
    <h1 class="h3 mb-3 fw-normal">Please Login</h1>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Username..." asp-for="UserName">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password..." asp-for="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" value="Submit">Login</button>
</form>

